# ANÁLISIS INICIAL DE FICHEROS Y PREPARACIÓN DEL CASO

Usaremos datos reales ofrecidos por AirBnB en esta página: http://insideairbnb.com/get-the-data.html

## SETUP

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

#Automcompletar rápido
%config IPCompleter.greedy=True

## ENTENDER LOS ARCHIVOS

Vamos a cargar uno por uno, entenderlos y tomar decisión de si lo usamos o no.

### Cargamos y entendemos "listings resumido"

In [2]:
listings = pd.read_csv('../Datos/listings.csv')

In [3]:
listings

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,35797,Villa Dante,153786,Dici,NaN,Cuajimalpa de Morelos,19.382830,-99.271780,Entire home/apt,3663.0,1,0,NaN,NaN,1,363,0,NaN
1,898633,City SkyLine View from 1 Bedroom Apt in CDMX,4796027,Marco,NaN,Cuauhtémoc,19.420630,-99.165860,Entire home/apt,1652.0,3,56,2024-04-17,0.41,3,262,3,NaN
2,44616,CONDESA HAUS B&B,196253,Fernando,NaN,Cuauhtémoc,19.411620,-99.177940,Entire home/apt,18000.0,1,64,2023-03-26,0.42,13,364,0,NaN
3,913084,15 blocks from Paseo de la Reforma,4647293,Martina,NaN,Miguel Hidalgo,19.439560,-99.172630,Entire home/apt,814.0,2,161,2024-05-21,1.19,1,236,6,NaN
4,67703,"2 bedroom apt. deco bldg, Condesa",334451,Nicholas,NaN,Cuauhtémoc,19.411520,-99.168570,Entire home/apt,1923.0,2,49,2024-05-05,0.32,2,361,4,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26531,1187191423076770832,¡Crystal! - 7BR Fantastic! In heart of Roma,19255745,Elvy,NaN,Cuauhtémoc,19.404546,-99.168252,Entire home/apt,7850.0,2,0,NaN,NaN,8,365,0,NaN
26532,1187248376951514656,Iconic Suite | Terrace | View !,7681206,Nicolas,NaN,Cuauhtémoc,19.420567,-99.166263,Entire home/apt,1478.0,1,0,NaN,NaN,11,363,0,NaN
26533,1187269835146549014,Acogedor y moderno depa en la Condesa,50951150,Sandra,NaN,Cuauhtémoc,19.408648,-99.170992,Entire home/apt,936.0,2,0,NaN,NaN,1,363,0,NaN
26534,1187283698786191137,Estudio con amplia terraza,147254250,Salomon,NaN,Cuauhtémoc,19.412367,-99.166447,Entire home/apt,768.0,1,0,NaN,NaN,3,254,0,NaN
26535,1187618795284149417,"Apt with Reforma View, Pool and Jacuzzi",67472234,HostPal,NaN,Cuauhtémoc,19.433861,-99.154975,Entire home/apt,1302.0,1,0,NaN,NaN,35,352,0,NaN

In [4]:
listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26536 entries, 0 to 26535
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              26536 non-null  int64
 1   name                            26536 non-null  object
 2   host_id                         26536 non-null  int64
 3   host_name                       26536 non-null  object
 4   neighbourhood_group             0 non-null      float64
 5   neighbourhood                   26536 non-null  object
 6   latitude                        26536 non-null  float64
 7   longitude                       26536 non-null  float64
 8   room_type                       26536 non-null  object
 9   price                           23338 non-null  float64
 10  minimum_nights                  26536 non-null  int64
 11  number_of_reviews               26536 non-null  int64
 12  last_review                     22664 non-null  object
 13  reviews_per_month               22664 non-null  float64
 14  calculated_host_listings_count  26536 non-null  int64
 15  availability_365                26536 non-null  int64
 16  number_of_reviews_ltm           26536 non-null  int64
 17  license                         0 non-null      float64
dtypes: float64(6), int64(7), object(5)
memory usage: 3.6+ MB

### Cargamos y entendemos "listings detalle"

In [5]:
listings_det = pd.read_csv('../Datos/listings.csv.gz',compression='gzip')

In [6]:
listings_det

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,898633,https://www.airbnb.com/rooms/898633,20240627045222,2024-06-28,city scrape,City SkyLine View from 1 Bedroom Apt in CDMX,The LOCATION is undoubtedly THE BIG advantage ...,The hipster Roma neighborhood embodies a color...,https://a0.muscache.com/pictures/ba75b1c1-cb02...,4796027,...,4.96,4.93,4.91,NaN,f,3,2,1,0,0.41
1,35797,https://www.airbnb.com/rooms/35797,20240627045222,2024-06-27,city scrape,Villa Dante,"Dentro de Villa un estudio de arte con futon, ...","Santa Fe Mall, Interloma Park and the Lion Des...",https://a0.muscache.com/pictures/f395ab78-1185...,153786,...,NaN,NaN,NaN,NaN,f,1,1,0,0,NaN
2,44616,https://www.airbnb.com/rooms/44616,20240627045222,2024-06-28,city scrape,CONDESA HAUS B&B,A new concept of hosting in mexico through a b...,NaN,https://a0.muscache.com/pictures/251410/ec75fe...,196253,...,4.78,4.98,4.48,NaN,f,13,4,2,0,0.42
3,913084,https://www.airbnb.com/rooms/913084,20240627045222,2024-06-28,city scrape,15 blocks from Paseo de la Reforma,NaN,"It borders the old and traditional San Rafael,...",https://a0.muscache.com/pictures/16663562/7bed...,4647293,...,4.93,4.46,4.75,NaN,t,1,1,0,0,1.19
4,67703,https://www.airbnb.com/rooms/67703,20240627045222,2024-06-28,city scrape,"2 bedroom apt. deco bldg, Condesa","Comfortably furnished, sunny, 2 bedroom apt., ...",NaN,https://a0.muscache.com/pictures/3281720/6f078...,334451,...,4.92,4.98,4.91,NaN,f,2,2,0,0,0.32
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26531,1187191423076770832,https://www.airbnb.com/rooms/1187191423076770832,20240627045222,2024-06-28,city scrape,¡Crystal! - 7BR Fantastic! In heart of Roma,Located in the vibrant neighborhood of Roma Su...,NaN,https://a0.muscache.com/pictures/miso/Hosting-...,19255745,...,NaN,NaN,NaN,NaN,t,8,8,0,0,NaN
26532,1187248376951514656,https://www.airbnb.com/rooms/1187248376951514656,20240627045222,2024-06-28,city scrape,Iconic Suite | Terrace | View !,"Welcome to Icon Cibles, a newly built modern s...",NaN,https://a0.muscache.com/pictures/hosting/Hosti...,7681206,...,NaN,NaN,NaN,NaN,f,11,11,0,0,NaN
26533,1187269835146549014,https://www.airbnb.com/rooms/1187269835146549014,20240627045222,2024-06-28,city scrape,Acogedor y moderno depa en la Condesa,Enjoy the warmth and tranquility provided by t...,NaN,https://a0.muscache.com/pictures/miso/Hosting-...,50951150,...,NaN,NaN,NaN,NaN,f,1,1,0,0,NaN
26534,1187283698786191137,https://www.airbnb.com/rooms/1187283698786191137,20240627045222,2024-06-28,city scrape,Estudio con amplia terraza,Private studio on the top floor of an old hous...,NaN,https://a0.muscache.com/pictures/hosting/Hosti...,147254250,...,NaN,NaN,NaN,NaN,f,3,3,0,0,NaN
26535,1187618795284149417,https://www.airbnb.com/rooms/1187618795284149417,20240627045222,2024-06-28,city scrape,"Apt with Reforma View, Pool and Jacuzzi",Discover a unique accommodation experience in ...,"With a strategic location, our apartment place...",https://a0.muscache.com/pictures/prohost-api/H...,67472234,...,NaN,NaN,NaN,NaN,t,35,15,20,0,NaN

In [7]:
listings_det.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26536 entries, 0 to 26535
Data columns (total 75 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            26536 non-null  int64
 1   listing_url                                   26536 non-null  object
 2   scrape_id                                     26536 non-null  int64
 3   last_scraped                                  26536 non-null  object
 4   source                                        26536 non-null  object
 5   name                                          26536 non-null  object
 6   description                                   25585 non-null  object
 7   neighborhood_overview                         16246 non-null  object
 8   picture_url                                   26536 non-null  object
 9   host_id                                       26536 non-null  int64
 10  host_url                                      26536 non-null  object
 11  host_name                                     26536 non-null  object
 12  host_since                                    26536 non-null  object
 13  host_location                                 20930 non-null  object
 14  host_about                                    15354 non-null  object
 15  host_response_time                            22339 non-null  object
 16  host_response_rate                            22339 non-null  object
 17  host_acceptance_rate                          23681 non-null  object
 18  host_is_superhost                             24993 non-null  object
 19  host_thumbnail_url                            26536 non-null  object
 20  host_picture_url                              26536 non-null  object
 21  host_neighbourhood                            13181 non-null  object
 22  host_listings_count                           26536 non-null  int64
 23  host_total_listings_count                     26536 non-null  int64
 24  host_verifications                            26536 non-null  object
 25  host_has_profile_pic                          26536 non-null  object
 26  host_identity_verified                        26536 non-null  object
 27  neighbourhood                                 16246 non-null  object
 28  neighbourhood_cleansed                        26536 non-null  object
 29  neighbourhood_group_cleansed                  0 non-null      float64
 30  latitude                                      26536 non-null  float64
 31  longitude                                     26536 non-null  float64
 32  property_type                                 26536 non-null  object
 33  room_type                                     26536 non-null  object
 34  accommodates                                  26536 non-null  int64
 35  bathrooms                                     23407 non-null  float64
 36  bathrooms_text                                26511 non-null  object
 37  bedrooms                                      25465 non-null  float64
 38  beds                                          23372 non-null  float64
 39  amenities                                     26536 non-null  object
 40  price                                         23338 non-null  object
 41  minimum_nights                                26536 non-null  int64
 42  maximum_nights                                26536 non-null  int64
 43  minimum_minimum_nights                        26536 non-null  int64
 44  maximum_minimum_nights                        26536 non-null  int64
 45  minimum_maximum_nights                        26536 non-null  int64
 46  maximum_maximum_nights                        26536 non-null  int64
 47  minimum_nights_avg_ntm                        26536 non-null  float64
 48  maximum_nights_avg_ntm                        26536 non-null  float64
 49  calendar_updated                              0 non-null      float64
 50  has_availability                              25500 non-null  object
 51  availability_30                               26536 non-null  int64
 52  availability_60                               26536 non-null  int64
 53  availability_90                               26536 non-null  int64
 54  availability_365                              26536 non-null  int64
 55  calendar_last_scraped                         26536 non-null  object
 56  number_of_reviews                             26536 non-null  int64
 57  number_of_reviews_ltm                         26536 non-null  int64
 58  number_of_reviews_l30d                        26536 non-null  int64
 59  first_review                                  22664 non-null  object
 60  last_review                                   22664 non-null  object
 61  review_scores_rating                          22664 non-null  float64
 62  review_scores_accuracy                        22649 non-null  float64
 63  review_scores_cleanliness                     22648 non-null  float64
 64  review_scores_checkin                         22649 non-null  float64
 65  review_scores_communication                   22649 non-null  float64
 66  review_scores_location                        22649 non-null  float64
 67  review_scores_value                           22649 non-null  float64
 68  license                                       0 non-null      float64
 69  instant_bookable                              26536 non-null  object
 70  calculated_host_listings_count                26536 non-null  int64
 71  calculated_host_listings_count_entire_homes   26536 non-null  int64
 72  calculated_host_listings_count_private_rooms  26536 non-null  int64
 73  calculated_host_listings_count_shared_rooms   26536 non-null  int64
 74  reviews_per_month                             22664 non-null  float64
dtypes: float64(18), int64(23), object(34)
memory usage: 15.2+ MB

Conclusiones: 

* Son los mismos registros pero el archivo de "detalle" tiene más columnas.
* Podríamos unirlas mediante el campo id

### Cargamos y entendemos "reviews resumido"

In [8]:
reviews = pd.read_csv('../Datos/reviews.csv')

In [9]:
reviews.head()

   listing_id        date
0      898633  2013-03-30
1      898633  2013-04-02
2      898633  2013-04-20
3      898633  2013-05-28
4      898633  2013-06-16

In [10]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1152978 entries, 0 to 1152977
Data columns (total 2 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   listing_id  1152978 non-null  int64
 1   date        1152978 non-null  object
dtypes: int64(1), object(1)
memory usage: 17.6+ MB

### Cargamos y entendemos "reviews detalle"

In [11]:
reviews_det = pd.read_csv('../Datos/reviews.csv.gz',compression = 'gzip')

In [12]:
reviews_det.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,44616,706908,2011-11-09,634733,Lindsay,Forget staying in a hotel. Stay at condesa hau...
1,44616,2006160,2012-08-16,3087087,Samuel,"Fantastic location, great place, friendly host..."
2,44616,3174954,2012-12-28,3234920,Anna,I would highly recommend Condesa Haus for anyo...
3,44616,3271579,2013-01-04,2199822,Shelley And Pall,Great stay. Thanks. Highly recommend.
4,44616,3841065,2013-03-19,2423825,Leonardo,This was not a very good experience I am afrai...

In [13]:
reviews_det.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1152978 entries, 0 to 1152977
Data columns (total 6 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   listing_id     1152978 non-null  int64
 1   id             1152978 non-null  int64
 2   date           1152978 non-null  object
 3   reviewer_id    1152978 non-null  int64
 4   reviewer_name  1152973 non-null  object
 5   comments       1152836 non-null  object
dtypes: int64(3), object(3)
memory usage: 52.8+ MB

Conclusiones: 

* Son los mismos registros pero el archivo de "detalle" tiene más columnas.
* Realmente esta info de las reseñas no nos aporta nada a nuestro objetivo, así que no usaremos estas tablas

### Cargamos y entendemos calendar

In [14]:
calendar = pd.read_csv('../Datos/calendar.csv.gz',compression = 'gzip')

In [15]:
calendar.head(30)

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,44616,2024-06-28,f,"$18,000.00",NaN,1.0,365.0
1,898633,2024-06-28,f,$93.00,NaN,3.0,48.0
2,898633,2024-06-29,f,$93.00,NaN,3.0,48.0
3,898633,2024-06-30,f,$93.00,NaN,3.0,48.0
4,898633,2024-07-01,f,$93.00,NaN,3.0,48.0
5,898633,2024-07-02,f,$93.00,NaN,3.0,48.0
6,898633,2024-07-03,f,$93.00,NaN,3.0,48.0
7,898633,2024-07-04,f,$93.00,NaN,3.0,48.0
8,898633,2024-07-05,f,$93.00,NaN,3.0,48.0
9,898633,2024-07-06,f,$93.00,NaN,3.0,48.0
10,898633,2024-07-07,f,$93.00,NaN,3.0,48.0
11,898633,2024-07-08,f,$93.00,NaN,3.0,48.0
12,898633,2024-07-09,f,$93.00,NaN,3.0,48.0
13,898633,2024-07-10,f,$93.00,NaN,3.0,48.0
14,898633,2024-07-11,f,$93.00,NaN,3.0,48.0
15,898633,2024-07-12,f,$93.00,NaN,3.0,48.0
16,898633,2024-07-13,f,$93.00,NaN,3.0,48.0
17,898633,2024-07-14,f,$93.00,NaN,3.0,48.0
18,898633,2024-07-15,f,$93.00,NaN,3.0,48.0
19,898633,2024-07-16,f,$93.00,NaN,3.0,48.0
20,898633,2024-07-17,f,$93.00,NaN,3.0,48.0
21,898633,2024-07-18,f,$93.00,NaN,3.0,48.0
22,898633,2024-07-19,f,$93.00,NaN,3.0,48.0
23,898633,2024-07-20,f,$93.00,NaN,3.0,48.0
24,898633,2024-07-21,f,$93.00,NaN,3.0,48.0
25,898633,2024-07-22,f,$93.00,NaN,3.0,48.0
26,898633,2024-07-23,f,$93.00,NaN,3.0,48.0
27,898633,2024-07-24,f,$93.00,NaN,3.0,48.0
28,898633,2024-07-25,f,$93.00,NaN,3.0,48.0
29,898633,2024-07-26,f,$93.00,NaN,3.0,48.0

In [16]:
calendar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9685643 entries, 0 to 9685642
Data columns (total 7 columns):
 #   Column          Dtype
---  ------          -----
 0   listing_id      int64
 1   date            object
 2   available       object
 3   price           object
 4   adjusted_price  float64
 5   minimum_nights  float64
 6   maximum_nights  float64
dtypes: float64(3), int64(1), object(3)
memory usage: 517.3+ MB

Conclusiones:

* Esta tabla se proyecta hacia el futuro, y parece contener la disponibilidad de reservas
* No es información que nos sirva a nuestros fines y por tanto no la usaremos

### Cargamos y entendemos neighbourhoods.csv

In [17]:
neigh = pd.read_csv('../Datos/neighbourhoods.csv')

In [18]:
neigh.head(10)

   neighbourhood_group           neighbourhood
0                  NaN          Álvaro Obregón
1                  NaN            Azcapotzalco
2                  NaN           Benito Juárez
3                  NaN                Coyoacán
4                  NaN   Cuajimalpa de Morelos
5                  NaN              Cuauhtémoc
6                  NaN       Gustavo A. Madero
7                  NaN               Iztacalco
8                  NaN              Iztapalapa
9                  NaN  La Magdalena Contreras

Conclusiones:

* Es simplemente un maestro de alcaldía y grupo de alcaldía.
* No lo usarmeos debido a que ya tenemos la información de alcaldía en los archivos anteriores y el "grupo de alcaldía" no aporta información.

### Cargamos y entendemos neighbourhoods.geojson

In [19]:
neigh_geo = pd.read_json('../Datos/neighbourhoods.geojson')

In [20]:
neigh_geo.head(5)

                type                                           features
0  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Mult...
1  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Mult...
2  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Mult...
3  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Mult...
4  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Mult...

In [21]:
neigh_geo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   type      16 non-null     object
 1   features  16 non-null     object
dtypes: object(2)
memory usage: 388.0+ bytes

Conclusiones:

* Parece info de geometría para mapas
* No será necesario, no lo usaremos

### Conclusiones del análisis de archivos

* Tablas principales que usaremos:
    * listings.csv
    * listings.csv.gz

## CREACIÓN DE UNA BASE DE DATOS

Creamos la conexión:

In [22]:
import sqlalchemy as sa

con = sa.create_engine('sqlite:///../Datos/airbnb.db')

Creamos las tablas y cargamos los datos

In [23]:
listings.to_sql('listings', con = con, if_exists = 'replace')
listings_det.to_sql('listings_det', con = con, if_exists = 'replace')

26536